* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #737373; */
  
  min-height: 100vh; /* remove this */

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 175px 1fr;
}

body > * {
  padding: 20px;
}

nav {
  background-color: slateblue;
  color: white;
  grid-row-start: span 2;
  padding: 20px;

  display: grid;
  grid-template-rows: 75px 1fr 1fr;
}

nav ul {
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
}

main {
  --grid-gap: 20px;
  --side-widget-max-height: 367px;

  background-color: lightgray;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min(50%, var(--side-widget-max-height)) 1fr;
  gap: var(--grid-gap);
  padding: var(--grid-gap);
}

.widget.main {
  grid-row-start: span 2;
}

.widget .card-grid {
  min-height: calc(100% - var(--grid-gap));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--grid-gap);
}

.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.widget.main .card {
  min-height: 200px;
}

.card-content {
  height: 100%;
  overflow-y: auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.card-actions {
  margin-top: auto;

  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.card-actions > div {
  width: 40px;
}

.card-actions .favorite::before {
  content: 'F';
}

.card-actions .hide::before {
  content: 'V';
}

.card-actions .history::before {
  content: 'H';
}

.widget.announcement,
.widget.trending {
  max-height: var(--side-widget-max-height);
}

.widget.announcement .card,
.widget.trending .card {
  height: calc(100% - var(--grid-gap));
}

.widget.announcement .card-content > div {
  padding-block: 10px;
  border-bottom: 1px solid gray;
}

.widget.announcement .card-content > div:first-child {
  padding-top: 0;
}

.widget.announcement .card-content > div:last-child {
  padding-bottom: 0;
  border-bottom: none;
}