* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #737373; */
  
  min-height: 100vh; /* remove this */

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 175px 1fr;
}

body > * {
  padding: 20px;
}

nav {
  background-color: slateblue;
  color: white;
  grid-row-start: span 2;
  padding: 20px;

  display: grid;
  grid-template-rows: 75px 1fr 1fr;
}

nav ul {
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
}

main {
  background-color: lightgray;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.widget.main {
  grid-row-start: span 2;
}

.widget .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  min-height: 230px;

  display: flex;
  flex-direction: column;
}

.card-actions {
  margin-top: auto;

  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.card-actions > div {
  width: 40px;
}

.card-actions .favorite::before {
  content: 'F';
}

.card-actions .hide::before {
  content: 'V';
}

.card-actions .history::before {
  content: 'H';
}