* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #737373;
} */

.container {
  min-height: 100vh; /* remove this */

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 175px 1fr;
}

.container > div {
  padding: 20px;
}

nav {
  background-color: slateblue;
  color: white;
  grid-row-start: span 2;
  padding: 20px;

  display: grid;
  grid-template-rows: 75px 1fr 1fr;
}

nav ul {
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
}

main {
  background-color: lightgray;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

main .projects {
  grid-row-start: span 2;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.projects .cards > div {
  border: 1px solid black;
  min-height: 200px;
}